{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
    <h1>Create new Categories</h1>

    {{ include('profil_category/_form.html.twig') }}

    <a href="{{ path('app_profil_category_index') }}">back to list</a>
{% endblock %}
